In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import ast

In [2]:
# Load the data
data = pd.read_csv("train.csv", low_memory=False)
data.drop_duplicates() # remove duplicates

location = data.iloc[: , 21:34]
# drop Location.Address.UnparsedAddress
location = location.drop(columns=['Location.Address.UnparsedAddress'])
location

,Location.Address.City,Location.Address.CountyOrParish,Location.Address.PostalCode,Location.Address.PostalCodePlus4,Location.Address.StateOrProvince,Location.Address.StreetDirectionPrefix,Location.Address.StreetDirectionSuffix,Location.Address.StreetName,Location.Address.StreetNumber,Location.Address.StreetSuffix,Location.Address.UnitNumber,Location.Area.SubdivisionName
0,morrison,whiteside,61270,NaN,il,e,NaN,main,126,street,NaN,NaN
1,highland park,lake,60035,NaN,il,NaN,NaN,1st,1696,street,NaN,NaN
2,chicago,cook,60618,NaN,il,n,NaN,elston,2820,avenue,NaN,NaN
3,wilmington,will,60481,NaN,il,NaN,NaN,widows,lot 1,road,NaN,NaN
4,maple park,kane,60151,NaN,il,NaN,NaN,lees,45w223,road,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
107432,east peoria,tazewell,61611,NaN,il,NaN,NaN,rentsch,1186,drive,NaN,NaN
107433,chicago,cook,60637,NaN,il,s,NaN,dorchester,5748,avenue,5748,NaN
107434,chicago,cook,60637,NaN,il,s,NaN,dorchester,5607,avenue,NaN,NaN
107435,crest hill,will,60403,NaN,il,NaN,NaN,plainfield,2216,road,NaN,NaN
107436,union,mchenry,60180,NaN,il,NaN,NaN,burlington,17781,lane,NaN,NaN

In [3]:
def cleanColumn(column):
    # Eliminar les categories que apareixen menys d'un 5% de les vegades
    value_counts = column.value_counts()
    threshold = value_counts.max() * 0.05
    to_replace = value_counts[value_counts < threshold].index
    return column.replace(to_replace, 'Others')

In [4]:
# concat locations with price
location_n_price = data['Listing.Price.ClosePrice'] # preu dels train

# concat prices with locations
location_n_price = pd.concat([location, location_n_price], axis=1)

location_n_price

,Location.Address.City,Location.Address.CountyOrParish,Location.Address.PostalCode,Location.Address.PostalCodePlus4,Location.Address.StateOrProvince,Location.Address.StreetDirectionPrefix,Location.Address.StreetDirectionSuffix,Location.Address.StreetName,Location.Address.StreetNumber,Location.Address.StreetSuffix,Location.Address.UnitNumber,Location.Area.SubdivisionName,Listing.Price.ClosePrice
0,morrison,whiteside,61270,NaN,il,e,NaN,main,126,street,NaN,NaN,30000.0
1,highland park,lake,60035,NaN,il,NaN,NaN,1st,1696,street,NaN,NaN,399000.0
2,chicago,cook,60618,NaN,il,n,NaN,elston,2820,avenue,NaN,NaN,2050000.0
3,wilmington,will,60481,NaN,il,NaN,NaN,widows,lot 1,road,NaN,NaN,162000.0
4,maple park,kane,60151,NaN,il,NaN,NaN,lees,45w223,road,NaN,NaN,3225000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107432,east peoria,tazewell,61611,NaN,il,NaN,NaN,rentsch,1186,drive,NaN,NaN,169900.0
107433,chicago,cook,60637,NaN,il,s,NaN,dorchester,5748,avenue,5748,NaN,1250000.0
107434,chicago,cook,60637,NaN,il,s,NaN,dorchester,5607,avenue,NaN,NaN,1800000.0
107435,crest hill,will,60403,NaN,il,NaN,NaN,plainfield,2216,road,NaN,NaN,1025000.0
107436,union,mchenry,60180,NaN,il,NaN,NaN,burlington,17781,lane,NaN,NaN,358205.0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

def plott(location_n_price, column):
    
    # histoplot of the column with the price
    sns.histplot(data=location_n_price, x=column, y='Listing.Price.ClosePrice')
    plt.show()
    # scatter plot
    sns.scatterplot(data=location_n_price, x=column, y='Listing.Price.ClosePrice')
    plt.show()

In [ ]:

    

# Itera sobre cada columna numÃ¨rica per fer un scatter plot
for col in location_n_price:
    if col != 'Listing.Price.ClosePrice':  # Assumeix que la columna 'precio' Ã©s la target
        c = cleanColumn(data[col])
        plott(location_n_price, c)
    # AttributeError: 'StrCategoryFormatter' object has no attribute 'set_scientific'
    # https://stackoverflow.com/questions/6774086/why-is-my-xlabel-cut-off-in-my-matplotlib-plot

KeyError: "None of [Index(['Others', 'Others', 'chicago', 'Others', 'Others', 'Others', 'Others',\n       'Others', 'Others', 'chicago',\n       ...\n       'Others', 'Others', 'Others', 'Others', 'Others', 'Others', 'chicago',\n       'chicago', 'Others', 'Others'],\n      dtype='object', length=107437)] are in the [columns]"

In [14]:
# Convert non-numeric columns to numeric or drop them
location_n_price_numeric = location_n_price.apply(pd.to_numeric, errors='coerce')

# print corr with price
corr = location_n_price_numeric.corr()
print(corr['Listing.Price.ClosePrice'])

Location.Address.City                          NaN
Location.Address.CountyOrParish                NaN
Location.Address.PostalCode              -0.112339
Location.Address.PostalCodePlus4          0.034487
Location.Address.StateOrProvince               NaN
Location.Address.StreetDirectionPrefix         NaN
Location.Address.StreetDirectionSuffix         NaN
Location.Address.StreetName              -0.029118
Location.Address.StreetNumber            -0.003398
Location.Address.StreetSuffix                  NaN
Location.Address.UnitNumber               0.056486
Location.Area.SubdivisionName                  NaN
Listing.Price.ClosePrice                  1.000000
Name: Listing.Price.ClosePrice, dtype: float64